main.main-content
    .container
        h1.site-title.visually-hidden Sale apartments
        h2.main-content__title Найдено 33 квартиры
        .cards-container
            .sort-bar
                .sort-bar__method Сортировать по:
                .sort-bar__price.sort-price.method-block
                    .sort-price__title.sort-title Цене
                    ul.sort-price__list.sort-list.js-sort-price__list
                        li.sort-list__item.js-sort-price-increase По возрастанию
                        li.sort-list__item.js-sort-price-decrease По убыванию
                    button.sort-btn.sort-price__btn.js-sort-price-btn
                .sort-bar__room.sort-room.method-block
                    div.sort-room__title.sort-title Комнатам
                    ul.sort-room__list.sort-list.js-sort-room__list
                        li.sort-list__item.js-sort-room-increase По возрастанию
                        li.sort-list__item.js-sort-room-decrease По убыванию
                    button.sort-btn.sort-room__btn.js-sort-room-btn
            include ../card/_card-item.pug
            .card-more-wrap
                a(href="#" class="card-more-btn js-card-more-btn") Показать еще