main.main-content
    .container
        h1.site-title.visually-hidden Sale apartments
        h2.main-content__title Найдено 666 квартир
        .cards-container
            .sort-bar
                .sort-bar__method Сортировать по:
                .sort-bar__price
                    span.sort-bar__price-title.sort-bar__price-title--checked Цене
                    button.sort-bar__btn.sort-bar__btn--checked
                .sort-bar__room
                    span.sort-bar__room-title Комнатам
                    button.sort-bar__btn
            ul.cards-list
                +card-item('img/Layer632@1X.png', 'Изображение.Студия №44', 'Студия №44', 'без отделки', '56 м', '1/14', '12 900 000 руб.')

                +card-item('img/Layer633@1X.png', 'Изображение.Однокомнатная  №666', 'Однокомнатная  №666', 'базовая отделка', '66 м', '6/6', '1 666 666 руб.')

                +card-item('img/Layer634@1X.png', 'Изображение.Двухкомнатная  №567','Двухкомнатная  №567', 'черновая отделка', '65.6 м', '7/14', '5 900 000 руб.')

                +card-item('img/Layer635@1X.png', 'Изображение.Трехкомнатная №45', 'Трехкомнатная №45', 'без отделки', '56 м', '1/14', '12 900 000 руб.')

                +card-item('img/Layer637@1X.png', 'Изображение.Студия  №25', 'Студия  №25', 'черновая отделка', '18 м', '12/14', '1 900 000 руб.')

                +card-item('img/Layer636@1X.png', 'Изображение.Четырехкомнатная №259', 'Четырехкомнатная №259', 'черновая отделка', '98 м', '14/14', '23 900 000 руб.')

                +card-item('img/Layer638@1X.png', 'Изображение.Однокомнатная №56', 'Однокомнатная №56', 'без отделки', '36 м', '3/6', '5 666 666 руб.')

                +card-item('img/Layer639@1X.png', 'Изображение.Трехкомнтаная №46', 'Трехкомнтаная №46', 'черновая отделка', '86 м', '1/6', '5 696 664 руб.')

                +card-item('img/Layer640@1X.png', 'Изображение.Однокомнатная №2', 'Однокомнатная №2', 'черновая отделка', '18 м', '3/14', '1 200 000 руб.')

                +card-item('img/Layer641@1X.png', 'Изображение.Студия №12', 'Студия №12', 'черновая отделка', '38 м', '6/14', '1 500 500 руб.')

                +card-item('img/Layer642@1X.png', 'Изображение.Однокомнатная №8', 'Однокомнатная №8', 'черновая отделка', '48 м', '3/14', '6 200 000 руб.')

                +card-item('img/Layer643@1X.png', 'Изображение.Двухкомнатная №23', 'Двухкомнатная №23', 'базовая отделка', '48 м', '3/14', '5 255 006 руб.')
            .card-more-wrap
                a(href="#" class="card-more-btn") Показать еще 20
    button.up-btn-container
        div.up-btn