footer.footer
    .container.flex
        .footer-wrap-title
            h2.footer-wrap-title__title Успей купить!
            span.footer-wrap-title__text Подпишись и успей словить все акции
        .form-wrap
            form(action="#" class="form-subscribe")
                input(type="email", name="email", placeholder="E-mail", class="form-subscribe__input" required)
                button.form-subscribe__btn Подписаться
            input(type="checkbox" id="subscribe")
            label(for="subscribe") подписаться на новости
