@media only screen and (max-width: 768px) {
    .container {
         padding: 0 15px;
    }
}

.main-content {
    position: relative;
    margin-bottom: 50px;
    
    @media only screen and (max-width: 576px) {
        margin-bottom: 20px;
    }

    &__title {
        padding-left: 30px;
        margin-bottom: 30px;
        font-size: 36px;
        color: $background-color-header;
        @media only screen and (max-width: 576px) {
            padding-left: 0;
            font-size: 25px;
        }
    }
    
    .cards-container {
        width: 100%;
        min-height: 500px;
        padding: 30px;
        background: #fff;
        @media only screen and (max-width: 576px) {
            padding: 0 0 20px;
        }
    }
    
    .card-more-wrap {
        @include flexbox(center, unset);
        .card-more-btn {
            padding: 10px 50px;
            font-size: 13px;
            color: #fff;
            text-transform: uppercase;
            background: $primary3-background-color;
            &:hover {
                @include hover-default(#ccc, .4s);
            }
        }
    }
}

.up-btn-container {
    position: absolute;
    top: 0;
    right: 50px;
    display: none;
    width: 60px;
    height: 100%;
    @media only screen and (max-width: 768px) {
        right: 0;
        width: 37px;
    }

    .up-btn {
        position: fixed;
        top: 50%;
        right: 81px;
        width: 50px;
        height: 50px;
        background: $primary2-background-color;
        transform: translateX(50%);
        @include border-rad(100%);
        @media only screen and (max-width: 768px) {
            right: 18px;
            width: 35px;
            height: 35px;
        }
        &:after {
            position: absolute;
            top: 23px;
            left: 22px;
            width: 23px;
            height: 3px;
            content: '';
            background: #fff;
            @include transform-rotate(45deg);
            @media only screen and (max-width: 768px) {
                top: 7px;
                left: 10px;
                width: 3px;
                height: 19px;
            }
        }

        &:before {
            position: absolute;
            top: 13px;
            left: 17px;
            width: 3px;
            height: 23px;
            content: '';
            background: #fff;
            @include transform-rotate(45deg);
            @media only screen and (max-width: 768px) {
                top: 15px;
                left: 14px;
                width: 19px;
                height: 3px;
            }
        }
    }
}

