$default-text-color: #ccc;

$background-color-header: #003333;

$main-background-color: #faf9ef;
$primary-background-color: #fffefd;
$primary2-background-color: #999966;
$primary3-background-color: #006699;
$primary4-background-color: #A1A1A1;

$special-labels: #ff6666;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;